
.lb {
  overflow-y: auto;
  height: auto;
  flex: 1;
}

// List View ------------------------------------------------------------------
.lb-item {
  display: flex;
  margin: 10px 0;
  padding: 10px 20px;

  &:hover {
    background-color: #f2f2f2;
  }
}

.lb-item-info {
  padding: 10px 0;
  width: 100%;
}

.lb-item-title {
  font-size: 18px;
  font-weight: bold;
}

.lb-item-title a {
  text-decoration: none;

  &:visited {
    color: #000;
    text-decoration: none;
  }
}

.lb-item-subtitle {
  font-style: italic;
}

.lb-item-thumb {
  margin-right: 20px;
}

.lb-item-thumb img {
  max-width: 150px;
}

.lb-item-thumb--empty {
  height: 225px;
  width: 150px;
  background-color: lightgrey;
}

// Detailed View --------------------------------------------------------------
.lb-item.lb-item--expanded {
  display: flex;
  flex-direction: row;
  margin: 30px 0 10px 0;
  height: 100%;
  background-color: #f2f2f2;
}

.lb-item.lb-item--expanded .lb-item-info {
  padding: 20px;
}

.lb-item.lb-item--expanded .lb-item-cover img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.lb-item.lb-item--expanded .lb-item-cover-empty {
  height: 100%;
  width: 450px;
  background-color: lightgrey;
}

.lb-item.lb-item--expanded .lb-item-description {
  margin: 10px 0;
}

.lb-item.lb-item--expanded .lb-item-form {
  display: flex;
  flex-direction: column;
}

.lb-item.lb-item--expanded .lb-item-form .lb-item-title {
  width: 100%;
}

.lb-item-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
