
.lb {
  overflow-y: auto;
  height: auto;
  flex: 1;
}

// List View ------------------------------------------------------------------
.lb-item {
  display: flex;
  margin: 10px 0;
  padding: 0 20px;

  &:hover {
    background-color: #f2f2f2;
  }
}

.lb-item-info {
  padding: 10px 0;
  width: 100%;
}

.lb-item-title {
  font-size: 18px;
  font-weight: bold;
}

.lb-item-title a {
  text-decoration: none;

  &:visited {
    color: #000;
    text-decoration: none;
  }
}

.lb-item-subtitle {
  font-style: italic;
}

.lb-item-thumb {
  margin-right: 20px;
}

.lb-item-thumb img {
  max-width: 150px;
}

.lb-item-thumb--empty {
  height: 225px;
  width: 150px;
  background-color: lightgrey;
}

// Detailed View --------------------------------------------------------------
.lb-item.lb-item--expanded {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 20px;
  height: 100%;
  background-color: #f2f2f2;
}

.lb-item.lb-item--expanded .lb-item-info {
  padding: 10px 30px 20px 30px;
}

.lb-item.lb-item--expanded .lb-item-cover img {
  width: 100%;
  max-width: 450px;
  height: auto;
}

.lb-item.lb-item--expanded .lb-item-cover-empty {
  height: 100%;
  width: 450px;
  background-color: lightgrey;
}

.lb-item.lb-item--expanded .lb-item-form .lb-item-description.lb-item-description--input {
  margin: 0 0 10px 0;
}

.lb-item.lb-item--expanded .lb-item-info .lb-item-description {
  margin: 10px 0;
}

.lb-item.lb-item--expanded .lb-item-form {
  display: flex;
  flex-direction: column;
}

.lb-item.lb-item--expanded .lb-item-form .lb-item-title {
  width: 100%;
}

.lb-item.lb-item--expanded .lb-item-info .lb-item-title {
  font-size: 32px;
  margin-bottom: 10px;
}

.lb-item-actions {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}


// Form Inputs
.lb-item-title.lb-item-title--input,
.lb-item-subtitle.lb-item-subtitle--input,
.lb-item-author.lb-item-author--input,
.lb-item-description.lb-item-description--input {
  margin-bottom: 10px;
  padding: 8px 0;
  width: 100%;

  background-color: #f2f2f2;
  border: none;
  border-bottom: 1px solid transparent;
  outline: 0;

  &:focus {
    border-bottom: 1px solid #000;
  }
}

.lb-item-subtitle.lb-item-subtitle--input,
.lb-item-author.lb-item-author--input,
.lb-item-description.lb-item-description--input {
  font-size: 14px;
}


.lb-item-close {
  position: absolute;
  top: 15px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: lightgrey;
  cursor: pointer;

  &:hover {
    color: #000;
    transition: all .4s;
  }
}