body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 75px);
  overflow: hidden;
}

// https://benfrain.com/independent-scrolling-panels-body-scroll-using-just-css/

@import './_navigation';
@import './_library';
@import './_current';
@import './_settings';

// UI
@import './ui/_buttons';

// Utilities
@import './_utilities';

