<style>
  .lb-loading-screen {
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="lb-loading-screen">
  Loading...
</div>
