<div class="lb">
  <h3>{{settings.user.name}}'s Library</h3>

  <button {{action 'toggleThumbnails'}}>Show Thumbnails</button>

  {{#each items as |item|}}
    {{ui/item/lb-item
      settings=settings
      item=item
    }}
  {{/each}}

</div>
