<h3>Settings</h3>

<div>Library</div>
<div>
  <input type="checkbox"
         id="showThumbs"
         name="showThumbs"
         value="Bike">
  <label for="showThumbs">
    Show Thumbnails
  </label>
</div>
